{{page-title "R"}}


<h1>Hello route{{this.params.gemeente}}</h1>
<h1>{{this.model.subreddit}}</h1><br>

<ul>
  {{#each this.model as |post|}}
  <LinkTo @route="r" @model="{{post.gemeente}}"><li>{{post.gemeente}}</li></LinkTo>
  {{/each}}
</ul>

{{outlet}}

{{!-- {{#each this.pictures as |info|}}
    {{#if info.data}}
        {{#light-box href=info.data.url data-lightbox=info.data.title data-title=info.data.title inlineImage=false}}
            <div class="img" >
                <img src="{{info.data.thumbnail}}" width="110" height="90" alt="te" >
            </div>
        {{/light-box}}
    {{/if}}

{{/each}} --}}